body {
  font-family: sans-serif;
  padding:0;
  margin:0;
}
.container {
  display: grid;
  grid-template-columns: 2fr 3fr;
}

.sidebar {
  background: #c0392b;
  color: #fff;
  padding:1em;
  height: 100%;
}

.sidebar a {
  color: white;
  text-decoration: none;
}

.main {
  padding:1em;
  height: 100%;
}

