body {
  font-family: sans-serif;
  padding:0;
  margin:0;
}
.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.sidebar {
  background: #c0392b;
  color: #fff;
  padding:1em;
}
.main {
  padding:1em;
}

