<div class="container">
  <div class="sidebar">
    <h2>ember-chance</h2>
    <nav>
      <ul>
        <li>
    <LinkTo @route="index">Home</LinkTo>
        </li>
        <li>
    <LinkTo @route="basics">Basics</LinkTo>
        </li>
        <li>
    <LinkTo @route="person">Person</LinkTo>
        </li>
        <li>
    <LinkTo @route="text">Text</LinkTo>
        </li>

        <li>
    <LinkTo @route="thing">Thing</LinkTo>
        </li>
        <li>
    <LinkTo @route="mobile">Mobile</LinkTo>
        </li>
        <li>
    <LinkTo @route="web">Web</LinkTo>
        </li>
        <li>
    <LinkTo @route="location">Location</LinkTo>
        </li>
      </ul>
    </nav>
    
  </div>
  <div class="main">
    {{outlet}}
  </div>
</div>

