
  <h3>chance-address:</h3>
  <p>Description for chance-address goes here.</p>
  <p>
  <code>
  \{{ chance-address "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ chance-address "hello world"}}
  </code>
  </p>
