
  <h3>chance-integer:</h3>
  <p>Description for chance-integer goes here.</p>
  <p>
  <code>
  \{{ chance-integer "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ chance-integer "hello world"}}
  </code>
  </p>
