
  <h3>chance-areacode:</h3>
  <p>Description for chance-areacode goes here.</p>
  <p>
  <code>
  \{{ chance-areacode "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ chance-areacode "hello world"}}
  </code>
  </p>
