
  <h3>chance-hidden:</h3>
  <p>Description for chance-hidden goes here.</p>
  <p>
  <code>
  \{{ chance-hidden "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ chance-hidden "hello world"}}
  </code>
  </p>
