
  <h3>chance-google-analytics:</h3>
  <p>Description for chance-google-analytics goes here.</p>
  <p>
  <code>
  \{{ chance-google-analytics "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ chance-google-analytics "hello world"}}
  </code>
  </p>
