
  <h3>chance-hour:</h3>
  <p>Description for chance-hour goes here.</p>
  <p>
  <code>
  \{{ chance-hour "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ chance-hour "hello world"}}
  </code>
  </p>
