
  <h3>chance-province:</h3>
  <p>Description for chance-province goes here.</p>
  <p>
  <code>
  \{{ chance-province "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ chance-province "hello world"}}
  </code>
  </p>
