<h3>chance-year:</h3>
<hr>
<p>Generate a random year</p>
<p>
<code>
  \{{ chance-year }}
</code>
</p>
<p>
<code>
  // => {{ chance-year }}
</code>
</p>
<p>
<code>
  \{{ chance-year min=1900 max=2000}}
</code>
</p>
<p>
<code>
  // => {{ chance-year min=1900 max=2000}}
</code>
</p>
