
  <h3>chance-depth:</h3>
  <p>Description for chance-depth goes here.</p>
  <p>
  <code>
  \{{ chance-depth "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ chance-depth "hello world"}}
  </code>
  </p>
