
  <h3>chance-latitude:</h3>
  <p>Description for chance-latitude goes here.</p>
  <p>
  <code>
  \{{ chance-latitude "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ chance-latitude "hello world"}}
  </code>
  </p>
