
  <h3>chance-country:</h3>
  <p>Description for chance-country goes here.</p>
  <p>
  <code>
  \{{ chance-country "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ chance-country "hello world"}}
  </code>
  </p>
