
  <h3>chance-floating:</h3>
  <p>Description for chance-floating goes here.</p>
  <p>
  <code>
  \{{ chance-floating "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ chance-floating "hello world"}}
  </code>
  </p>
