
  <h3>chance-apple-token:</h3>
  <p>Description for chance-apple-token goes here.</p>
  <p>
  <code>
  \{{ chance-apple-token "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ chance-apple-token "hello world"}}
  </code>
  </p>
