
  <h3>chance-currency-pair:</h3>
  <p>Description for chance-currency-pair goes here.</p>
  <p>
  <code>
  \{{ chance-currency-pair "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ chance-currency-pair "hello world"}}
  </code>
  </p>
