
  <h3>chance-shuffle:</h3>
  <p>Description for chance-shuffle goes here.</p>
  <p>
  <code>
  \{{ chance-shuffle "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ chance-shuffle "hello world"}}
  </code>
  </p>
