
  <h3>chance-timestamp:</h3>
  <p>Description for chance-timestamp goes here.</p>
  <p>
  <code>
  \{{ chance-timestamp "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ chance-timestamp "hello world"}}
  </code>
  </p>
