
  <h3>chance-date:</h3>
  <p>Description for chance-date goes here.</p>
  <p>
  <code>
  \{{ chance-date "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ chance-date "hello world"}}
  </code>
  </p>
