
  <h3>chance-first:</h3>
  <p>Description for chance-first goes here.</p>
  <p>
  <code>
  \{{ chance-first "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ chance-first "hello world"}}
  </code>
  </p>
