
  <h3>chance-cc:</h3>
  <p>Description for chance-cc goes here.</p>
  <p>
  <code>
  \{{ chance-cc "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ chance-cc "hello world"}}
  </code>
  </p>
