
  <h3>chance-zip:</h3>
  <p>Description for chance-zip goes here.</p>
  <p>
  <code>
  \{{ chance-zip "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ chance-zip "hello world"}}
  </code>
  </p>
