
  <h3>chance-exp-month:</h3>
  <p>Description for chance-exp-month goes here.</p>
  <p>
  <code>
  \{{ chance-exp-month "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ chance-exp-month "hello world"}}
  </code>
  </p>
