
  <h3>chance-capitalize:</h3>
  <p>Description for chance-capitalize goes here.</p>
  <p>
  <code>
  \{{ chance-capitalize "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ chance-capitalize "hello world"}}
  </code>
  </p>
