
  <h3>chance-timezone:</h3>
  <p>Description for chance-timezone goes here.</p>
  <p>
  <code>
  \{{ chance-timezone "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ chance-timezone "hello world"}}
  </code>
  </p>
