<h3>chance-address:</h3>
<hr>
<p>Generate a random address</p>
<p>
  <code>
  \{{ chance-address }}
  </code>
</p>
<p>
  <code>
  // => {{ chance-address }}
  </code>
</p>
<p>Optionally mandate that it return a short suffix</p>
<p>
  <code>
  \{{ chance-address  short_suffix=true}}
  </code>
</p>
<p>
  <code>
  // => {{ chance-address  short_suffix=true}}
  </code>
</p>
