
  <h3>chance-wp7-anid:</h3>
  <p>Description for chance-wp7-anid goes here.</p>
  <p>
  <code>
  \{{ chance-wp7-anid "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ chance-wp7-anid "hello world"}}
  </code>
  </p>
