
  <h3>chance-weighted:</h3>
  <p>Description for chance-weighted goes here.</p>
  <p>
  <code>
  \{{ chance-weighted "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ chance-weighted "hello world"}}
  </code>
  </p>
