
  <h3>chance-coin:</h3>
  <p>Description for chance-coin goes here.</p>
  <p>
  <code>
  \{{ chance-coin "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ chance-coin "hello world"}}
  </code>
  </p>
