  <h3>chance-integer:</h3>
  <hr>
  <p>Return a random integer</p>
  <p>
  <code>
  \{{ chance-integer }}
  </code>
  </p>

  <p>
  <code>
    // => {{ chance-integer }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-integer min=-20 max=20}}
  </code>
  </p>
  <p>
  <code>
    // => {{ chance-integer min=-20 max=20}}
  </code>
  </p>
