
  <h3>chance-postcode:</h3>
  <p>Description for chance-postcode goes here.</p>
  <p>
  <code>
  \{{ chance-postcode "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ chance-postcode "hello world"}}
  </code>
  </p>
