
  <h3>chance-normal:</h3>
  <p>Description for chance-normal goes here.</p>
  <p>
  <code>
  \{{ chance-normal "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ chance-normal "hello world"}}
  </code>
  </p>
