
  <h3>chance-radio:</h3>
  <p>Description for chance-radio goes here.</p>
  <p>
  <code>
  \{{ chance-radio "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ chance-radio "hello world"}}
  </code>
  </p>
