
  <h3>chance-birthday:</h3>
  <p>Description for chance-birthday goes here.</p>
  <p>
  <code>
  \{{ chance-birthday "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ chance-birthday "hello world"}}
  </code>
  </p>
