
  <h3>chance-name:</h3>
  <p>Description for chance-name goes here.</p>
  <p>
  <code>
  \{{ chance-name "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ chance-name "hello world"}}
  </code>
  </p>
