
  <h3>chance-ssn:</h3>
  <p>Description for chance-ssn goes here.</p>
  <p>
  <code>
  \{{ chance-ssn "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ chance-ssn "hello world"}}
  </code>
  </p>
