
  <h3>chance-second:</h3>
  <p>Description for chance-second goes here.</p>
  <p>
  <code>
  \{{ chance-second "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ chance-second "hello world"}}
  </code>
  </p>
