  <h3>chance-letter:</h3>
  <hr>
  <p>Description for chance-letter goes here.</p>
  <p>
  <code>
  \{{ chance-letter }}
  </code>
  </p>
  <p>
  <code>
    // => {{ chance-letter }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-letter }}
  </code>
  </p>
 
