  <h3>chance-falsy:</h3>
  <hr>
  <p>Return a random falsy value ( fasle, null, undefined, 0, NaN, '')_</p>
  <p>
  <code>
  \{{ chance-falsy }}
  => {{ chance-falsy }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-falsy pool=(array 'false' 'NaN')}}
  => {{ chance-falsy pool=(array 'false' 'NaN')}}
  </code>
  </p>

