
  <h3>chance-pad:</h3>
  <p>Description for chance-pad goes here.</p>
  <p>
  <code>
  \{{ chance-pad "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ chance-pad "hello world"}}
  </code>
  </p>
