
  <h3>chance-phone:</h3>
  <p>Description for chance-phone goes here.</p>
  <p>
  <code>
  \{{ chance-phone "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ chance-phone "hello world"}}
  </code>
  </p>
