
  <h3>chance-dice:</h3>
  <p>Description for chance-dice goes here.</p>
  <p>
  <code>
  \{{ chance-dice "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ chance-dice "hello world"}}
  </code>
  </p>
