
  <h3>chance-geohash:</h3>
  <p>Description for chance-geohash goes here.</p>
  <p>
  <code>
  \{{ chance-geohash "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ chance-geohash "hello world"}}
  </code>
  </p>
