
  <h3>chance-ampm:</h3>
  <p>Description for chance-ampm goes here.</p>
  <p>
  <code>
  \{{ chance-ampm "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ chance-ampm "hello world"}}
  </code>
  </p>
