
  <h3>chance-letter:</h3>
  <p>Description for chance-letter goes here.</p>
  <p>
  <code>
  \{{ chance-letter "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ chance-letter "hello world"}}
  </code>
  </p>
