
  <h3>chance-millisecond:</h3>
  <p>Description for chance-millisecond goes here.</p>
  <p>
  <code>
  \{{ chance-millisecond "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ chance-millisecond "hello world"}}
  </code>
  </p>
