
  <h3>chance-cpf:</h3>
  <p>Description for chance-cpf goes here.</p>
  <p>
  <code>
  \{{ chance-cpf "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ chance-cpf "hello world"}}
  </code>
  </p>
