
  <h3>chance-set:</h3>
  <p>Description for chance-set goes here.</p>
  <p>
  <code>
  \{{ chance-set "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ chance-set "hello world"}}
  </code>
  </p>
