
  <h3>chance-unique:</h3>
  <p>Description for chance-unique goes here.</p>
  <p>
  <code>
  \{{ chance-unique "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ chance-unique "hello world"}}
  </code>
  </p>
