
  <h3>chance-avatar:</h3>
  <p>Description for chance-avatar goes here.</p>
  <p>
  <code>
  \{{ chance-avatar "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ chance-avatar "hello world"}}
  </code>
  </p>
