
  <h3>chance-dollar:</h3>
  <p>Description for chance-dollar goes here.</p>
  <p>
  <code>
  \{{ chance-dollar "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ chance-dollar "hello world"}}
  </code>
  </p>
