
  <h3>chance-guid:</h3>
  <p>Description for chance-guid goes here.</p>
  <p>
  <code>
  \{{ chance-guid "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ chance-guid "hello world"}}
  </code>
  </p>
