
  <h3>chance-hammertime:</h3>
  <p>Description for chance-hammertime goes here.</p>
  <p>
  <code>
  \{{ chance-hammertime "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ chance-hammertime "hello world"}}
  </code>
  </p>
