
  <h3>chance-ipv6:</h3>
  <p>Description for chance-ipv6 goes here.</p>
  <p>
  <code>
  \{{ chance-ipv6 "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ chance-ipv6 "hello world"}}
  </code>
  </p>
