
  <h3>chance-prefix:</h3>
  <p>Description for chance-prefix goes here.</p>
  <p>
  <code>
  \{{ chance-prefix "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ chance-prefix "hello world"}}
  </code>
  </p>
