
  <h3>chance-character:</h3>
  <p>Description for chance-character goes here.</p>
  <p>
  <code>
  \{{ chance-character "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ chance-character "hello world"}}
  </code>
  </p>
