
  <h3>chance-falsy:</h3>
  <p>Description for chance-falsy goes here.</p>
  <p>
  <code>
  \{{ chance-falsy "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ chance-falsy "hello world"}}
  </code>
  </p>
