
  <h3>chance-hashtag:</h3>
  <p>Description for chance-hashtag goes here.</p>
  <p>
  <code>
  \{{ chance-hashtag "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ chance-hashtag "hello world"}}
  </code>
  </p>
