
  <h3>chance-state:</h3>
  <p>Description for chance-state goes here.</p>
  <p>
  <code>
  \{{ chance-state "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ chance-state "hello world"}}
  </code>
  </p>
