
  <h3>chance-profession:</h3>
  <p>Description for chance-profession goes here.</p>
  <p>
  <code>
  \{{ chance-profession "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ chance-profession "hello world"}}
  </code>
  </p>
