
  <h3>chance-exp-year:</h3>
  <p>Description for chance-exp-year goes here.</p>
  <p>
  <code>
  \{{ chance-exp-year "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ chance-exp-year "hello world"}}
  </code>
  </p>
