
  <h3>chance-string:</h3>
  <p>Description for chance-string goes here.</p>
  <p>
  <code>
  \{{ chance-string "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ chance-string "hello world"}}
  </code>
  </p>
