
  <h3>chance-twitter:</h3>
  <p>Description for chance-twitter goes here.</p>
  <p>
  <code>
  \{{ chance-twitter "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ chance-twitter "hello world"}}
  </code>
  </p>
