
  <h3>chance-bool:</h3>
  <p>Description for chance-bool goes here.</p>
  <p>
  <code>
  \{{ chance-bool "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ chance-bool "hello world"}}
  </code>
  </p>
