  <h3>chance-integer:</h3>
  <hr>
  <p>Description for chance-integer goes here.</p>
  <p>
  <code>
  \{{ chance-integer }}
  </code>
  </p>

  <p>
  <code>
    // => {{ chance-integer }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-integer }}
  </code>
  </p>
