    <h3>chance-floating:</h3>
    <hr>
  <p>Description for chance-floating goes here.</p>
  <p>
  <code>
  \{{ chance-floating }}
  </code>
  </p>
  <p>
  <code>
    // => {{ chance-floating }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-floating }}
  </code>
  </p>
 
