
  <h3>chance-euro:</h3>
  <p>Description for chance-euro goes here.</p>
  <p>
  <code>
  \{{ chance-euro "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ chance-euro "hello world"}}
  </code>
  </p>
