
  <h3>chance-wp8-anid2:</h3>
  <p>Description for chance-wp8-anid2 goes here.</p>
  <p>
  <code>
  \{{ chance-wp8-anid2 "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ chance-wp8-anid2 "hello world"}}
  </code>
  </p>
