
  <h3>chance-cc-type:</h3>
  <p>Description for chance-cc-type goes here.</p>
  <p>
  <code>
  \{{ chance-cc-type "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ chance-cc-type "hello world"}}
  </code>
  </p>
