
  <h3>chance-locale:</h3>
  <p>Description for chance-locale goes here.</p>
  <p>
  <code>
  \{{ chance-locale "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ chance-locale "hello world"}}
  </code>
  </p>
