
  <h3>chance-age:</h3>
  <p>Description for chance-age goes here.</p>
  <p>
  <code>
  \{{ chance-age "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ chance-age "hello world"}}
  </code>
  </p>
