
  <h3>chance-mixin:</h3>
  <p>Description for chance-mixin goes here.</p>
  <p>
  <code>
  \{{ chance-mixin "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ chance-mixin "hello world"}}
  </code>
  </p>
