
  <h3>chance-android-id:</h3>
  <p>Description for chance-android-id goes here.</p>
  <p>
  <code>
  \{{ chance-android-id "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ chance-android-id "hello world"}}
  </code>
  </p>
