
  <h3>chance-klout:</h3>
  <p>Description for chance-klout goes here.</p>
  <p>
  <code>
  \{{ chance-klout "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ chance-klout "hello world"}}
  </code>
  </p>
