
  <h3>chance-word:</h3>
  <p>Description for chance-word goes here.</p>
  <p>
  <code>
  \{{ chance-word "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ chance-word "hello world"}}
  </code>
  </p>
