
  <h3>chance-url:</h3>
  <p>Description for chance-url goes here.</p>
  <p>
  <code>
  \{{ chance-url "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ chance-url "hello world"}}
  </code>
  </p>
