
  <h3>chance-email:</h3>
  <p>Description for chance-email goes here.</p>
  <p>
  <code>
  \{{ chance-email "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ chance-email "hello world"}}
  </code>
  </p>
