
  <h3>chance-syllable:</h3>
  <p>Description for chance-syllable goes here.</p>
  <p>
  <code>
  \{{ chance-syllable "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ chance-syllable "hello world"}}
  </code>
  </p>
