
  <h3>chance-natural:</h3>
  <p>Description for chance-natural goes here.</p>
  <p>
  <code>
  \{{ chance-natural "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ chance-natural "hello world"}}
  </code>
  </p>
