<h3>chance-age:</h3>
<hr>
<p>Generate a random age</p>
<p>
<code>
  \{{ chance-age }}
</code>
</p>
<p>
<code>
  // => {{ chance-age }}
</code>
</p>
<p>
<code>
  \{{ chance-age type="child"}}
</code>
</p>
<p>
<code>
  // => {{ chance-age type="child"}}
</code>
</p>
<p>Allowed types are: child, teen, adult, senior</p>
