
  <h3>chance-altitude:</h3>
  <p>Description for chance-altitude goes here.</p>
  <p>
  <code>
  \{{ chance-altitude "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ chance-altitude "hello world"}}
  </code>
  </p>
