
  <h3>chance-suffix:</h3>
  <p>Description for chance-suffix goes here.</p>
  <p>
  <code>
  \{{ chance-suffix "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ chance-suffix "hello world"}}
  </code>
  </p>
