
<h3>chance-sentence:</h3>
<p>Return a random sentence populated by semi-pronounceable random (nonsense) words.</p>
<p>
<code>
  \{{ chance-sentence }}
</code>
</p>
<p>
<code>
  // => {{ chance-sentence }}
</code>
</p>
<p>
<code>
  \{{ chance-sentence words=5}}
</code>
</p>
<p>
<code>
  // => {{ chance-sentence words=5}}
</code>
</p>
