
  <h3>chance-currency:</h3>
  <p>Description for chance-currency goes here.</p>
  <p>
  <code>
  \{{ chance-currency "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ chance-currency "hello world"}}
  </code>
  </p>
