
  <h3>chance-sentence:</h3>
  <p>Description for chance-sentence goes here.</p>
  <p>
  <code>
  \{{ chance-sentence "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ chance-sentence "hello world"}}
  </code>
  </p>
