
  <h3>chance-last:</h3>
  <p>Description for chance-last goes here.</p>
  <p>
  <code>
  \{{ chance-last "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ chance-last "hello world"}}
  </code>
  </p>
