
  <h3>chance-pick:</h3>
  <p>Description for chance-pick goes here.</p>
  <p>
  <code>
  \{{ chance-pick "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ chance-pick "hello world"}}
  </code>
  </p>
