  <h3>chance-string:</h3>
  <hr>
  <p>Description for chance-string goes here.</p>
  <p>
  <code>
  \{{ chance-string }}
  </code>
  </p>
  <p>
  <code>
    // => {{ chance-string }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-string }}
  </code>
  </p>
 
