
  <h3>chance-coordinates:</h3>
  <p>Description for chance-coordinates goes here.</p>
  <p>
  <code>
  \{{ chance-coordinates "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ chance-coordinates "hello world"}}
  </code>
  </p>
