
  <h3>chance-weekday:</h3>
  <p>Description for chance-weekday goes here.</p>
  <p>
  <code>
  \{{ chance-weekday "hello world"}}
  </code>
  </p>
  <p>
  <code>
  // => {{ chance-weekday "hello world"}}
  </code>
  </p>
