<img src="ember-chance-logo.png" alt="Ember Chance logo"/>
    <p>Ember addon wrapper around <a href="https://chancejs.com/">chance.js</a> with template helpers.</p>
    <p><a href="https://github.com/rajasegar/ember-chance">Github</a></p>
    <h2>Installation</h2>
    <p>
    <code>
      ember install ember-chance
    </code>
    </p>
    <h2>Usage</h2>
    <p>
  <code>
  \{{chance-bool}}
  </code>
    </p>
    <p>With named arguments</p>
    <p>
    <code>
      \{{chance-bool likelihood=70}}
    </code>
    </p>

